In [22]:
 # soma

4 + 4

8

In [23]:
# subtraçao 
4 - 3

1

In [24]:
# multiplicacao
4 * 4

16

In [25]:
 # divisao 

 25 / 5

5.0

In [26]:
# pontecia

4 ** 10

1048576

In [27]:
 10 % 3

1

In [28]:
 1 + 5 * 3

16

In [29]:
(8 * 3) // (2 ** 2)

6

In [30]:
4 ** (1/2)

2.0

In [31]:
type(5)

int

In [32]:
type(5.0)

float

In [33]:
float(5)

5.0

In [34]:
int(9.7)

9

In [35]:
abs(-10)

10

In [36]:
abs(10
)

10

In [37]:
pow(4,2)

16

In [38]:
round(3.14151922, 5)

3.14152

In [39]:
var_teste = 1

In [40]:
var_teste

1

In [41]:
my_var

NameError: name 'my_var' is not defined

In [ ]:
type(var_teste)

int

In [ ]:
var_test = 1.0

In [ ]:
type(var_teste)

int

In [ ]:
x = 1

In [ ]:
x

1

In [ ]:
var_teste + x

2

In [ ]:
x + var_teste

2

In [ ]:
fruta1 = fruta2 = fruta3 = "melancia"

In [ ]:
fruta1

'melancia'

In [ ]:
fruta2

'melancia'

In [ ]:
fruta3

'melancia'

In [ ]:
pessoa1, pessoa2, pessoa3 = "bob", "maria", "ana"

In [ ]:
pessoa1

'bob'

In [ ]:
pessoa2

'maria'

In [ ]:
pessoa3

'ana'

In [ ]:
x teste =

SyntaxError: invalid syntax (3563938865.py, line 1)

In [ ]:
variavel = 0

In [ ]:
print(variavel)

0

In [ ]:
variavel = variavel + 1

In [ ]:
variavel += 1

In [ ]:
print(variavel)

2

In [ ]:
variave 
variave
variave
variave

NameError: name 'variave' is not defined

In [ ]:
numero = 0

In [ ]:
numero += 1

In [ ]:
# usando a funçâo print para mostrar o valor do nomevendedor
print(nomevendedor)

joaquim

In [ ]:
# usando a funçâo display para mostrar valor do nomevendor
display(nomevendedor)

'joaquim'

In [ ]:
print("olá! como vai? ")

olá! como vai?

In [ ]:
print("olá! como vai",nomeVendedor,"?")

olá! como vai joaquim ?

In [ ]:
# variaveis definindo informações sobre o vendedor "joaquim"
nomeVendedor = "joaquim"
idade = 30
altura = 1.7365
# dado string
print("olá! como vai %s ?" % nomeVendedor)
# dado int
print("voce possui %i anos de idade ?" % idade)
# dado float
print("voce tem %.2f metros de altura ?" % altura)

olá! como vai joaquim ?
voce possui 30 anos de idade ?
voce tem 1.74 metros de altura ?

In [ ]:
print(50 * ' ô toca no calleri que golll')

 ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll ô toca no calleri que golll

In [ ]:
print("eu sou \n 'legal")
print()
print("teste")

eu sou
 'legal

teste

In [ ]:
nomeVendedor = input("qual e nome do vendor")
print( f"o nome do vendedor e {nomeVendedor}")
idade = int(input(f"qual a sua idade {nomeVendedor}
print(f"a idade do (a) {{nomeVendedor} e {{idade}"

SyntaxError: unterminated string literal (detected at line 3) (617115743.py, line 3)

In [ ]:
#  strings

# strings

In [42]:
 # atribuindo uma strings 

s ="senai lugar aprender python"

In [46]:
print(s)

senai lugar aprender python

In [47]:
s[0]

's'

In [49]:
s = 'senai'

In [51]:
s + " é um lugar legal"

'senai é um lugar legal'

In [55]:
s = s + " é um lugar legal"

In [61]:
s.upper()
print(s)

senai é um lugar legal é um lugar legal é um lugar legal

In [58]:
s.lower()

'senai é um lugar legal é um lugar legal é um lugar legal'

In [63]:
s.capitalize()

'Senai é um lugar legal é um lugar legal é um lugar legal'

In [65]:
s.title()

'Senai É Um Lugar Legal É Um Lugar Legal É Um Lugar Legal'

In [66]:
len(s)

56

In [67]:
s.count(' ')

12

In [69]:
s.count('a')

7

In [71]:
s.count('senai')

1

In [72]:
s.lower().count('senai'.lower())

1

In [73]:
s.isalnum()

False

In [74]:
s.isascii()

False

In [76]:
s.isascii()

False

In [78]:
s.isalnum()

False

In [79]:
s
s = s.lower()

In [80]:
s.islower()

True

In [81]:
s.isspace()

False

In [82]:
s2 = ' '

In [84]:
s2.isspace()

True

s.endswith('l')

In [88]:
numerostring = "1000"

In [89]:
type(numerostring)

str

In [90]:
numerostring.isdecimal()

True

In [91]:
s = "senai e um lugar legal"

In [92]:
s.split('a')

['sen', 'i e um lug', 'r leg', 'l']

In [93]:
s.split()[0]

'senai'

In [94]:
s.split()[-1]

'legal'

# lista

In [98]:
lista = ["arroz", "frango", "tomate", "leite"]

In [99]:
type(lista)

list

In [100]:
lista[0]

'arroz'

In [101]:
lista[-1]

'leite'

In [102]:
len(lista)

4

In [103]:
lista[0] = "macarrão"

In [104]:
lista

['macarrão', 'frango', 'tomate', 'leite']

In [105]:
lista[1]

'frango'

In [108]:
lista.append("feijão")

In [109]:
lista

['macarrão', 'frango', 'tomate', 'leite', 'feijão', 'feijão', 'feijão']

In [110]:
lista2 = [10, 3.1, "olá"]

In [111]:
lista2

[10, 3.1, 'olá']

In [112]:
del lista[0]

In [113]:
lista

['frango', 'tomate', 'leite', 'feijão', 'feijão', 'feijão']

In [114]:
lista.pop()

'feijão'

In [115]:
lista

['frango', 'tomate', 'leite', 'feijão', 'feijão']

In [116]:
lista.index('leite')

2

In [117]:
lista.pop(lista.index('leite'))

'leite'

In [123]:
lista3 = [ [3,4,5], [1,3,2,2], [5,6,7,8,9,9,9,] ]

In [124]:
lista3

[[3, 4, 5], [1, 3, 2, 2], [5, 6, 7, 8, 9, 9, 9]]

In [125]:
old_lista = [10,3.14, "olá"]

In [128]:
old_lista = [10, 5, 7, 6]

In [129]:
new_list = []

In [137]:
for item in lista2:
    new_list.append(item)

In [139]:
new_list

[10, 3.1, 'olá']

In [3]:
cidade = (["sao paulo", "sao bernado", "diadema"])

In [4]:
cidade.extend(["santo andre", "sao caetano"])

In [5]:
cidade

['sao paulo', 'sao bernado', 'diadema', 'santo andre', 'sao caetano']

In [6]:
cidade.reverse()

In [7]:
cidade

['sao caetano', 'santo andre', 'diadema', 'sao bernado', 'sao paulo']

In [8]:
x = [3,4,2,1]

In [9]:
x

[3, 4, 2, 1]

In [12]:
x.sort()

In [13]:
x.sort(reverse = True)

In [14]:
x

[4, 3, 2, 1]

In [43]:
t2 = ("a","b","c")

In [16]:
t2

('a', 'b', 'c')

In [18]:
t2+= ("D",)

In [19]:
t2

('a', 'b', 'c', 'D')

In [20]:
tupla1 = (2,3,4,5)

In [21]:
tupla1

(2, 3, 4, 5)

In [22]:
type(tupla1)

tuple

In [23]:
tupla1 += (6,)

In [24]:
tupla1

(2, 3, 4, 5, 6)

In [28]:
tupla1.count(2)

1

In [29]:
tupla1.index(3)

1

In [32]:
tupla2 = ("maria","joao","pedro")

In [34]:
tupla2

('maria', 'joao', 'pedro')

In [35]:
tupla2[0]

'maria'

In [36]:
len(tupla2)

3

In [38]:
tupla2[1-1]

'maria'

In [50]:
lista_t2 = list(t2)
lista_t2

['a', 'b', 'c']

In [52]:
lista_t2.append('D')
t2 = tuple(lista_t2)

In [60]:
t3 = ([],2,3)

In [63]:
t3[0].append(52)

In [64]:
t3

([3, 52], 2, 3)

In [65]:
t3 =()

In [66]:
t3

()

In [70]:
estudantes = {"pedro":25, 'maria':32, "joao":45}

In [71]:
type(estudantes)

dict

In [72]:
estudantes["joao"]

45

In [76]:
len(estudantes)

3

In [77]:
estudantes.keys()

dict_keys(['pedro', 'maria', 'joao'])

In [79]:
estudantes.values()

dict_values([25, 32, 45])

In [100]:
estudantes2 = ("joaquina:12", "jose:25")

In [104]:
estudantes

{'pedro': 25, 'maria': 32, 'joao': 45}

In [110]:
x = 3

In [109]:
if x==4:
    print("e o numero 4")
elif x == 3:
    print(" e o numero 3")
else:
    print("mao e o numero 4")

 e o numero 3

In [113]:
letra = input("digite uma letra: ")
vogais = ['a','e','i','o','u']
    print('a letra e uma vogal!')
    else:
        print9('a letra e uma consoate!')

SyntaxError: '(' was never closed (3587283944.py, line 1)

In [5]:
list(range(10,21,1))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [6]:
type(range(10,21,1))

range

In [14]:
for numero in range(10):
    print(numero)

0
1
2
3
4
5
6
7
8
9

In [15]:
frase = "Estudar python e legal"

for letra in frase:
    print(letra)

E
s
t
u
d
a
r

p
y
t
h
o
n

e

l
e
g
a
l

In [18]:
frutas = [ "marango","banana","melancia"]
for fruta in frutas:
    print(fruta)

marango
banana
melancia

In [19]:
peças = {
    'portas':2,
    'janelas':4,
    'motor':1,
    'peneu':4
}
for item in peças:
    print(item, '=>',peças[item])

portas => 2
janelas => 4
motor => 1
peneu => 4

In [22]:
for chave, valor in peças.items():
    print(f'(item)) => (quantidade)')

(item)) => (quantidade)
(item)) => (quantidade)
(item)) => (quantidade)
(item)) => (quantidade)

In [28]:
x = 10
while x < 10:
    print(x)
    x += 1

In [2]:
teste = ""
while True:
    teste = input( "digitando algo? (exit para sair)")
   
    
    print(teste)

bom
lindo
feio
exit
exit
sair
exit

In [11]:
for numero in range(10):
    if numero % 2 != 0:
       pass
    print(numero)

0
1
2
3
4
5
6
7
8
9

In [1]:
# todo gabriel

In [2]:
while True:
    try:
         x = int(input('insira um numero'))
         print(x)
    except:
        print("nao e um numero!")
        opcao = input("digite 's' para sair e enter para continuar: ")
        if opcao == 's':
            break

5
6
nao e um numero!
nao e um numero!

In [1]:
while True:
    try:
        x = int(input("isara um numero"))
        print(x)
    except:
        print("nao e um numero!")
    else:
        print("sempre rodarei esse bloco.")

5
sempre rodarei esse bloco.
nao e um numero!
nao e um numero!
2
sempre rodarei esse bloco.
nao e um numero!
nao e um numero!

In [1]:
while True:
    try:
        x = int(input("isara um numero"))
        print(x)
    except:
        print("nao e um numero!")
    else:
        print("rodou legal...")
    finally:
        print('sempre rodarei esse bloco.')

5
rodou legal...
sem´pre rodarei esse bloco.
5
rodou legal...
sem´pre rodarei esse bloco.
2
rodou legal...
sem´pre rodarei esse bloco.
nao e um numero!
sem´pre rodarei esse bloco.
nao e um numero!
sem´pre rodarei esse bloco.
nao e um numero!
sem´pre rodarei esse bloco.
nao e um numero!
sem´pre rodarei esse bloco.
nao e um numero!
sem´pre rodarei esse bloco.
nao e um numero!
sem´pre rodarei esse bloco.

In [3]:
totaldeerro = 0
while True:
    try:
        x = int(input("isara um numero"))
        print(x)
    except:
        print("deu erro, continua pro proximo loop!")
        TimeoutError += 1
        if totaldeerro == 3:
            print('total de erros exedidos o limite!')
            break
        continue

2
6
6
deu erro, continua pro proximo loop!

TypeError: unsupported operand type(s) for +=: 'type' and 'int'

In [6]:
while True:
    nome = input("digite o nome do trabalhador(ou 'fim' para encrrar). ")

    if nome.lower() == 'fim':
        break # encerrar o loop quando 'fim' e inserido
    elif nome.isalpha() or ' ' in nome:
        try:
            horas_tralhados = float(input("digite o numero de horas trabalhadas:"))
            base_pagamento = 30
            salario = horas_tralhados * base_pagamento
            print(f"o trabalhador {nome} tem um salario de R${salario:.2f}")
        except ValueError:
            print("por favor, insiria valores numericos validos.")
        else:
            print("o numero do tralhador deve conter apenas letras e espaços.")

o trabalhador gabriel tem um salario de R$300.00
o numero do tralhador deve conter apenas letras e espaços.
o trabalhador wiu da barracha tem um salario de R$15000.00
o numero do tralhador deve conter apenas letras e espaços.
por favor, insiria valores numericos validos.
por favor, insiria valores numericos validos.
por favor, insiria valores numericos validos.